/* main nav div */


.nav-section{
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  z-index: 4;
}


.main-nav-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div{
  color: white;
}
.logo-div svg{
  width: 30%;
}

.nav-box ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px !important;
  margin-bottom: 0rem;
}

.nav-box ul li{
  list-style: none;
  margin: 5px;
  color: white;
  cursor: pointer;
}

.res-ul{
  display: none;
}

.burger-button{
  display: none;
}

@media(max-width:768px){
  .nav-box ul{
    display: none;
  }
  .res-ul{
    /* display: block; */
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0px;
    right: 0px;
    background-color: black;
    padding: 15px 30px;
  }
  .res-ul ul{
    display: block;
  }
  .res-ul ul li{
    margin: 20px auto;
  }
  .burger-button{
    display: block;
    background-color: unset;
    border: none;
    height: 40px;
    color: white !important;
  }
}


/* head section */

.head-section{
  position: relative;
}

.head-section video{
  position: absolute;
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.head-section::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.icon-div{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
  height: 100vh;
  position: relative;
  z-index: 2;
}

@media(max-width:768px){
  .icon-div{
    height: 80vh;
  }
}

@media(max-width:567px){
  .icon-div{
    height: 70vh;
  }
}


@media(max-width:768px){
  .icon-div{
    flex-direction: column;
  }
}

.icon-div div{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  text-align: center;
  /* height: 270px; */
}

.icon-div  p{
  font-size: xx-large;
  color: white;
}



.icon-div button{
  background: unset;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  padding: 10px ;
  border-radius: 10px;
}
@media(max-width:768px){
  .icon-div p{
    font-size: x-large;
  }
  .icon-div button{
    font-size: 18px;
    padding: 7px ;
    border-radius: 10px;
  }
}
@media(max-width:567px){
  .icon-div p{
    font-size: large;
  }
}

/* section-2-text-div */


/* slick section 3 */

.news{
  text-align: center;
  padding: 20px;
}

.slick-div {
  display: flex !important;
  justify-content: center;
  margin: 20px auto;
}

.section-3 .slick-initialized .slick-slide{
  height: auto;
  width: 400px;
  margin: auto 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media(max-width:1400px){
  .section-3 .slick-initialized .slick-slide{
    height: 350px;
    width: 350px;
  }
}

.slick-div .slick-track{
  display: flex !important;
  align-items: center;
}



.section-3 .slick-div div img{
  width: 300px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.slick-initialized .slick-slide img{
  width: 100%;
  height: auto;
}


.product-div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.product-div img{
  margin: 10px;
}

.product-div button{
  padding: 7px 13px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin: 10px;
}

.product-div p{
  margin: 10px;
}



@media(max-width:768px){
  .slick-div div img{
    width: 90%;
  }
}


/* Area div */

.Area-container{
  padding: 10px 0px;
  height: auto;
}

.Area-box{
  width: 95%;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
}

.Area-box {
  text-align: center;
}

.Area-box > p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.Area-box .product-information div{
  position: absolute;
  top: 0px;
  /* z-index: -1; */
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Area-box .product-information div button{
  padding: 7px 13px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.Area-box .product-information .img{
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
  background-color: white;
}

.Area-box .img img{
  width: 200px;
  height: 200px;
}

.fadeIN{
  position: relative !important;
  z-index: 2 !important;
  opacity: 1;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity: 1;}
}

.fadeOut{
  position: relative !important;
  z-index: 0 !important;
  opacity: 0;
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.product-text{
  text-align: center;
  padding: 20px;
}

/* form  */

.section-4{
  margin: 40px auto;
}

.section-4 form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  border-radius: 20px;
  border: 2px dashed white;
  background-color: white;
  margin: 20px auto;
  padding: 20px 0px;
}

.three-div{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.three-div label{
  width: 30% !important;
}

.three-div label input{
  background-color: white;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  outline: 0 !important;
  padding: 10px;
}

.section-4 form label {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  color: black;
}

.section-4 form label textarea{
  height: 150px;
  width: 95%;
  border:1px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  outline: 0 !important;
  color: black;
}

.form-div  button{
  padding: 5px 14px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.form-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto 50px auto;
}

.last-div{
  border-top: 1px solid black;
  text-align: center;
  padding: 20px 0px ; 
}

/* footer */

.footer-section{
  margin: 40px auto auto auto;
}

.footer-box ul{
  padding-inline-start: 0px;
}

.footer-box ul li{
  list-style: none;
}

.footer-box p{
  font-size: 20px;
  font-weight: bold;
}

.footer-box ul li{
  margin:10px auto;
}

.footer-box ul li:nth-child(1){
  font-weight: bold;
}

.footer-box li span i{
  width: 20px;
}

.footer-box li span svg{
  width: 13px;
  margin-right: 5px;
}

