.about-section{
  margin: 40px auto;
}

.footer-box ul li{
  cursor: pointer;
}

.about-title{
  text-align: center;
  padding: 30px 0px;
}

.about-section .col-md-6{
  margin: 40px auto;
}

.about-img-box{
  text-align: center;
}

.about-img-box img{
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 20px;
}

.about-text-box b{
  font-size: 20px;
  margin: 15px;
}

.about-text-box p{
  margin: 15px;
}

.about-text-box ul{
  margin-top: 20px;
  list-style: none;
  padding-left: 10px;
}

.right{
  text-align: right;
}

.about-text-box ul li span{
  margin: 0px 5px;
}


.about-container .col-md-6:nth-child(3){
  margin-top: 20px;
}

.about-container .col-md-6:nth-child(4){
  margin-top: 20px;
  text-align: right;
}

@media(max-width:768px){
  .about-text-box{
    text-align: center;
  }
}